<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virginia 2026 Primary Election Information</title>

    <link rel="icon" type="image/x-icon" href="images/va-seal.webp">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" crossorigin="anonymous"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/style.css">
    
</head>
<body>
    <div id="app" class="m-0 d-grid">
        <header>
            <h1 class="display-2 my-5 fw-bold">Virginia District One 2026 Primary Election Information</h1>
            <nav>
                <ul class="nav nav-tabs nav-fill flex-column flex-sm-row justify-content-center" id="navTabs">
                    <li class="nav-item">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="candidates-tab" data-bs-toggle="tab" data-bs-target="#candidates" type="button">Candidates</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button">About</button>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="tab-content mx-3 mx-md-5 my-5" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h2 class="text-center">Home</h2>
                    <p class="text-center fw-bold">Here is a brief overview of Virginia's First District. </p>
                    <p>Use the "Candidates" tab to learn more about who will be running for District One's House of Representatives primary election in 2026.
                        <br>Use the "About" tab to learn more about this site.
                    </p>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6" id="overview">
                            <h3 class="text-center">Overview</h3>

                            <button class="accordion" aria-expanded="false">
                                <span class="accordion-label">Current Representatives</span>
                                <span class="plus-icon" aria-hidden="true">+</span>
                            </button>
                                <div class="accordion-panel">
                                    <strong>House of Representatives:</strong>
                                    <ul>
                                        <li>Robert Wittman</li>
                                    </ul>
                                    <strong>Senate:</strong>
                                    <ul>
                                        <li>Mark Warner</li>
                                        <li>Timothy "Tim" Kaine</li>
                                    </ul>
                                </div>

                                <button class="accordion" aria-expanded="false">
                                    <span class="accordion-label">Counties</span>
                                    <span class="plus-icon" aria-hidden="true">+</span>
                                </button>
                                <div class="accordion-panel">
                                    <ul>
                                        <li>Chesterfield</li>
                                        <li>Essex</li>
                                        <li>Gloucester</li>
                                        <li>Hanover</li>
                                        <li>Henrico</li>
                                        <li>James City</li>
                                        <li>King and Queen</li>
                                        <li>King William</li>
                                        <li>Lancaster</li>
                                        <li>Mathews</li>
                                        <li>Middlesex</li>
                                        <li>New Kent</li>
                                        <li>Northumberland</li>
                                        <li>Richmond</li>
                                        <li>Westmoreland</li>
                                        <li>York</li>
                                    </ul>
                                </div>

                                <button class="accordion" aria-expanded="false">
                                    <span class="accordion-label">Demographics</span>
                                    <span class="plus-icon" aria-hidden="true">+</span>
                                </button>
                                <div class="accordion-panel">
                                    <ul>
                                        <li><strong>Distribution: </strong>
                                            <ul>
                                                <li>69.54% urban</li>
                                                <li>30.46% rural</li>
                                            </ul>
                                        </li>
                                        <li><strong>Population (2024): </strong>823,798</li>
                                        <li><strong>Median household income: </strong>$100,817</li>
                                    </ul>
                                </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <h3 class="text-center">Map</h3>
                            <div class="d-flex flex-direction-row justify-content-center" id="map-buttons">
                                <button class="btn" :class="{ 'btn-dark': interactiveMap, 'btn-outline-dark': !interactiveMap }" @click="mapView('I')">Interactive Map</button>
                                <button class="btn" :class="{ 'btn-dark': staticMap, 'btn-outline-dark': !staticMap }" @click="mapView('S')">Static Map</button>
                            </div>
                            <div id="maps">
                                <iframe aria-label="interactive-district-map" v-if="interactiveMap" src="https://www.govtrack.us/congress/members/embed/mapframe?state=va&district=1&bounds=-78.659,39.277,-75.354,36.058"></iframe>
                            
                                <div id="static-map" v-if="staticMap">
                                    <img src="images/new-static-map.png" alt="Map of Eastern Virginia showing the border of District One">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="candidates" role="tabpanel" aria-labelledby="candidates-tab">
                    <h2 class="text-center">Candidates</h2>
                    <p class="fw-bold text-center">Here is an overview of all officially registered candidates for the 2026 House of Representatives primary election.</p>
                    <p>
                        Hover over a candidate to learn more about them, or click their name to go to their website.
                        <br>Candidates can be sorted alphabetically or by funding (left dropdown), and they can be filtered by party.
                    </p>
                    <!-- <p>Note: responsive grid with info cards about each candidate (photo/description, link to personal website or ballotpedia page)</p> -->
                    <div class="row d-flex my-3 text-center">
                        <div class="dropdown col text-start">
                            <button class="btn selected-button dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Sort candidates by:
                            </button>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" @click="alphabetSort" :class="{ 'selected-button': alphabet }">Alphabetical</a></li>
                            <li><a class="dropdown-item" href="#" @click="fundsDownSort" :class="{ 'selected-button': fundsDown }">Funds (High to Low)</a></li>
                            <li><a class="dropdown-item" href="#" @click="fundsUpSort" :class="{ 'selected-button': fundsUp }">Funds (Low to High)</a></li>
                            </ul>

                        </div>

                        <div class="col row text-md-end text-center" id="filter-btns">
                            <div class="col-md-4">
                                <button class="btn m-1" type="button" :class="{ 'btn-success': showAll }" @click="partyButton('ALL')" >All Parties</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn m-1" type="button" :class="{ 'btn-primary': showDems }" @click="partyButton('D')">Democrats</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn m-1" type="button" :class="{ 'btn-danger': showReps }" @click="partyButton('R')">Republicans</button>
                            </div>
                        </div>
                    </div>

                    <div class="row mx-auto text-center d-flex justify-content-center g-0">
                        <div v-for="(item, index) in filteredCandidates()" :key="item.id" class="col-lg-3 col-md-4 col-sm-6" :class="{ democrat: item.party === 'Democrat', republican: item.party === 'Republican' }">
                            <div class="card m-1" :id="'card' + item.id">
                                <div class="card-inner">
                                    <div class="card-front">
                                        <img class="card-img" :src="item.image" alt="">
                                    </div>
                                    <div class="card-body card-back text-start">
                                        <p><strong>Party: </strong>{{ item.party }}</p>
                                        <p><strong>Funds: </strong>${{ item.funds }}</p>
                                        <p><strong>Personal Bio:</strong><br>{{ item.description }}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a :href="item.website" target="_blank"><h3 class="card-title name-links">{{ item.name }}</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="tab-pane fade my-5" id="about" role="tabpanel" aria-labelledby="about-tab">
                    <!-- <p>Explanation of the project/class, my coding and studies, etc.</p> -->
                    <h2>About</h2>
                    <!-- <img src="" alt=""> -->
                    <div id="about-me">
                        <h3>About Me</h3>
                        <div class="row d-flex flex-direction-column justify-content-center">
                            <div class="col-sm-12 col-md-6 col-lg-4" >
                                <img src="images/train+station.webp" alt="Ashland, Virginia train station sign">
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-8">
                                <p>My name is Kathryn Byrnes, and I'm a senior at the University of Michigan. I'm majoring in Cognitive Science with minors in Computer Science and UX Design.</p>
                                <p>I'm from District One in Virginia, and local politics have always played a big role in my and my family's lives. I'm passionate about voter education and accessible voter resources. My hope is that clearly organized, easily accessible information could help citizens become more knowledgable and involved in local politics and the causes they care about.</p>
                                <p>Local elections are often overlooked, but they are incredibly important--especially primaries that determine which major party candidates will appear on the ballot</p>
                                <p>I chose to focus on the House of Representatives candidates for my district because I noticed that there is a surplus of candidates (particularly from the Democratic party), which can be it harder to keep track of and learn about all options.</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="about-site">
                        <h3>About The Site</h3>
                        <p>Information about the candidates is sourced from their campaign websites (or, if non-applicable, their professional websites), <a href="https://www.vpap.org/offices/us-representative-1/election/12550/#main" target="_blank">Virginia Public Access Project (VPAP)</a>, and <a href="https://ballotpedia.org/Virginia%27s_1st_Congressional_District_election,_2026" target="_blank">Ballotpedia</a>.</p>
                        <p>All information about campaign funds was retrieved from the <a href="https://www.fec.gov/data/elections/house/VA/01/2026/" target="_blank">Federal Elections Commission</a> and may be subject to change.</p>
                    </div>
                </div>
            </div>







        </main>
        
        <footer>
            <div class="d-flex flex-column align-items-center justify-content-center" id="footer-div">
                <p><strong>Virginia District One 2026 Primary Election Information</strong></p>
                <p>Kathryn Byrnes 2025</p>
                <a href="mailto:kbyrnes@umich.edu"><img src="images/mail.png" alt="Email" id="footer-img">kbyrnes@umich.edu</a>
            </div>

        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/script.js"></script>
</body>
</html>