header {
    text-align: center;
}

h1 {
    margin: auto;
    text-align: center;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}


.card {
    perspective: 1000px;
    /* position: relative; */
    height: 500px;

    display: flex;
    flex-direction: column;
}

.card-inner {
    width: 100%;
    height: 400px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* position: relative; */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;

    /* border-radius: inherit; */
    /* overflow: hidden; */
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

h2 {
    text-align: center;
}

.carousel-item h3, .carousel-item p {
    background-color: rgba(0, 0, 0, 0.7);
}