

* {
    font-family: "Roboto", sans-serif;
}

html, body {
    min-height: 100%;
    margin: 0;
}

body {
    /* height: 100%; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #14213D;
    height: 100%;
}

footer {
    background-color: #14213D;
    height: 300px;
    text-align: center;
    color: white;
}

footer a {
    color: white;
}

#footer-div {
    height: 100%;
}

#footer-img {
    margin-right: 10px;
}

h1 {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    color: white;
    border: 10px white double;
    border-radius: 10px;
}

h2 {
   background-color: #B3BED0;
   padding: 20px;
   margin-bottom: 20px;
}

#maps {
    position: relative;

    margin: 10px auto;
    height: auto;
    /* padding: 10px; */
    /* width: 425px; 
    height: 300px; */
    aspect-ratio: 425 / 300;
}

#maps button:focus {
    border: 2px gray solid;
}

#maps iframe, #static-map {
    /* position: absolute; */
    /* inset: 0; */
    width: 100%;
    height: 100%;
    /* max-height: 300px; */
}

#static-map {
    position: absolute;
    height: auto;
    inset: 0;
    /* display: none; */
}

#static-map img {
    width: 100%;
    height: auto;
    display: block;
    
    object-fit: contain;
}

.democrat .card-footer {
    background-color: lightblue;
}

.republican .card-footer {
    background-color: lightcoral;
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}


.card {
    perspective: 1000px;
    /* position: relative; */
    /* height: 500px; */

    display: flex;
    flex-direction: column;
}

.card-inner {
    width: 100%;
    height: 400px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* position: relative; */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;

    /* border-radius: inherit; */
    /* overflow: hidden; */
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    background-color: white;
    transform: rotateY(180deg);
    
    overflow-y: auto;
}

.card:hover .card-inner, .card:focus-within .card-inner {
    transform: rotateY(180deg);
}

h2 {
    text-align: center;
}

.carousel-item h3, .carousel-item p {
    background-color: rgba(0, 0, 0, 0.7);
}

#candidates a {
    text-decoration: none;
    color: black;
}

.nav-tabs .nav-link:not(.active) {
    color: white;
}

.dropdown-menu .dropdown-item.bg-primary {
    color: white;
}

.name-links {
    text-decoration: none;
}

.name-links:hover, .name-links:focus{
    text-decoration: underline;
}

#filter-btns button {
    width: 100%;
}

#filter-btns button:focus {
    border: 2px gray solid;
}





/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    margin: 5px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active .accordion:hover {
    background-color: #ccc;
  }

  .accordion:focus {
    border: 2px gray solid;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .accordion-panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .accordion .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  #overview {
    margin-bottom: 30px;
  }

  #map-buttons button {
    margin: 10px;
  }






@media (prefers-reduced-motion: reduce) {

    .card {
        perspective: none;
    }

    .card-inner {
        /* height: auto; */
        width: 100%;
        height: 600px;
        transition: none;
        transform-style: none;
        display: flex;
        flex-direction: column;
    }

    .card-front {
        transform: none;
        height: 300px;
    }
    
    .card-back {
        background-color: white;
        transform: none;
        overflow-y: auto;
        height: auto;
    }

    .card-front, .card-back {
        position: static;
        backface-visibility: visible;
        /* height: auto; */
    }

    .card:hover .card-inner {
        transform: none;
    }
}